@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h1>Hello, world!</h1>


<CascadingValue Value="alertStyle" Name="AlertStyle">
    <CascadingValue Value="age">
        <CascadingValue Value="message" Name="Message">
            <ParentComponent />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<p>@counter</p>

<button @onclick="IncrementCounter">Increment</button>



@code {
    string message = "Hello World";

    string alertStyle = "info";

    int age = 18;

    int counter;

    protected override async Task OnInitializedAsync()
    {
        counter = await localStorage.GetItemAsync<int>("counter");
    }

    private async Task IncrementCounter()
    {
        counter++;
        await localStorage.SetItemAsync<int>("counter", counter);
    }
}