<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/users">Users</NavLink></li>
        <li><NavLink href="/customers">Customers</NavLink></li>
    </ul>
</nav>