@typeparam TEntity 

@using Domain.Model;
@using Microsoft.AspNetCore.Components.Web.Virtualization
<table>
    <thead>
        <tr>
            @HeaderTemplate
        </tr>
    </thead>

    <tbody>
        <Virtualize Items="@Items?.ToList()" Context="item">
            <tr>
                @RowTemplate(item)
            </tr>
        </Virtualize>

        }
    </tbody>

    <tfoot>
    </tfoot>

</table>

@code {

    [Parameter]
    public IEnumerable<TEntity> Items { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TEntity> RowTemplate { get; set; }


}