@typeparam TEntity 

@using Domain.Model;
<table>
    <thead>
        <tr>
            @HeaderTemplate
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
        }
    </tbody>

    <tfoot>
    </tfoot>

</table>

@code {

    [Parameter]
    public IEnumerable<TEntity> Items { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TEntity> RowTemplate { get; set; }


}