@using Domain.Model;
<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>

    <tfoot>
    </tfoot>

</table>

@code {

    [Parameter]
    public IEnumerable<User> Users { get; set; }
}