@page "/"
@using MauiBlazorClient.Resources.Languages;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Strings> localizer

<h1>@localizer["HelloWorld"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

