
<div>
    <input type="search" @bind-value="filter" />
    <button @onclick="Search">Search</button>
</div>


@code {
    string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    async Task Search()
    {
        await OnSearch.InvokeAsync(filter);
    }
}
